.hero {
  background: radial-gradient(50% 50% at 50% 50%, #0a0024 0%, #0a0a0a 100%);
  min-height: calc(100vh - 150px);
  button {
    background: linear-gradient(90deg, #d6cbf4 0%, #a135ff 100%);
    transition: 0.4s all;
    -webkit-box-shadow: 0px 0px 44px 1px rgba(251, 0, 255, 0.24);
    -moz-box-shadow: 0px 0px 44px 1px rgba(251, 0, 255, 0.24);
    box-shadow: 0px 0px 44px 1px rgba(251, 0, 255, 0.24);
  }

  button:hover {
    scale: 1.1;
  }
}
