.skills {
  background: linear-gradient(180deg, #0a0024 13.25%, #0a0a0a 100%);

  img {
    width: 6.25rem;
    height: 6.25rem;
  }

  .bar-container {
    -webkit-box-shadow: 0px 0px 36px 1px rgba(0, 188, 255, 0.32);
    -moz-box-shadow: 0px 0px 36px 1px rgba(0, 188, 255, 0.32);
    box-shadow: 0px 0px 36px 1px rgba(0, 188, 255, 0.32);
    transition: all 0.3s ease-in-out;
  }

  .bar-container:hover {
    scale: 1.05;
  }
}
