.about {
  background: radial-gradient(50% 50% at 50% 50%, #0a0024 0%, #0a0a0a 100%);

  .description {
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 1.5rem;
  }

  .bg-profile {
    -webkit-box-shadow: 0px 0px 36px 1px rgba(229, 0, 182, 0.32);
    -moz-box-shadow: 0px 0px 36px 1px rgba(229, 0, 182, 0.32);
    box-shadow: 0px 0px 36px 1px rgba(229, 0, 182, 0.32);
  }

  img {
    width: 50px;
  }

  .time {
    margin-top: 2rem;
    background: linear-gradient(90deg, #d6cbf4 0%, #a135ff 100%);
    width: fit-content;
    font-weight: bold;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 0px 36px 1px rgba(229, 0, 182, 0.32);
    -moz-box-shadow: 0px 0px 36px 1px rgba(229, 0, 182, 0.32);
    box-shadow: 0px 0px 36px 1px rgba(229, 0, 182, 0.32);
    transition: all 0.3s ease-in-out;
    p {
      padding: 0.8rem;
      color: rgb(21, 0, 59);
    }
  }

  .time:hover {
    scale: 1.05;
  }
}

@media (max-width: 640px) {
  .about {
    .description {
      font-size: 1.2rem;
      letter-spacing: 3px;
    }

    img {
      width: 40px;
    }
  }
}
